header {
  background-color: rgb(28, 32, 36);
}

h1 {
  color: #fff;
  font: size 30px;
}

.headerNavigation {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
}

nav {
  .headerMenu {
    display: flex;

    li:not(:last-child) {
      margin-right: 30px;
    }

    a {
      text-decoration: none;
      color: rgb(55, 112, 177);

      &:active,
      :focus {
        color: coral;
      }

      &:hover {
        color: yellowgreen;
      }
    }
  }
}

.loginRegisterBtns {
  display: flex;

  a {
    color: blueviolet;

    &:active,
    :focus {
      color: coral;
    }

    &:hover {
      color: yellowgreen;
    }
  }

  li:not(:last-child) {
    margin-right: 30px;
  }
}
